* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", serif;
    font-weight: 100;
    margin: 1;
}

h1 {
    font-weight: 400;
    text-align: center;
}
nav{
    background-color: gray;
    max-width: 800px;   
}
nav ul {
    list-style: none;
   
}
nav a {
    display: block;
    color: fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
